body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline::before {
  border: none !important;
}

@media print {
  .table {
    box-shadow: none !important;
  }
  .table,
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
  .MuiTableCell-root {
    padding: 8px !important;
    font-size: 0.65rem !important;
    word-spacing: 5px !important;
  }
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
}
